<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
		id          = "SMS"
        version     = "1.0.0" >

    <name>SMS app</name>
    <description></description>
    <author href="http://michalkajrunajtys.com" email="citmichal@gmail.com">
		Michal Kajrunajtys
	</author>
	<platform name="android" />
	<uses-permission android:name="android.permission.SEND_SMS"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<plugin name="cordova-plugin-device" spec="~1.1.4" />
	<plugin name="cordova-plugin-dialogs" spec="~1.3.1" />
	<gap:plugin name="cordova-plugin-sms" source="npm" />
	<gap:plugin name="nl.x-services.plugins.socialsharing" />

</widget>